<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Flower Shop</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" href="..static/css/style.css"
	th:href="@{/css/style.css}" />

</head>
<body>
	<div id="wrap">
		<div class="header">
			<div class="logo">
				<a href="#"><img src="images/logo.gif" alt="" border="0" /></a>
			</div>

			<!-- include menu fragment -->
			<div id="menu" th:include="fragments :: menu"></div>
		</div>
		<div class="center_content">
			<div class="left_content">
				<div class="title">
					<span class="title_icon"><img src="images/bullet1.gif"
						alt="" /></span>Gift Packages
				</div>

				<!-- Here I have a fragment called product and I am looping through the product list 
				retrieved from the database that is looping the fragment inserting each products details. -->
				<div th:each="product : ${productList}">
					<form class="feat_prod_box" th:object="${product}" th:action="@{/cart/add}"
						method="post">
						<div th:include="fragments :: product"></div>
						<input type="hidden" th:name="name" th:value="${product.name}"></input>
						<input type="hidden" th:name="price" th:value="${product.price}"></input>
						<input type="hidden" th:name="imageUrl"
							th:value="${product.imageUrl}"></input> <input type="submit"
							value="add to cart"></input>
					</form>
				</div>

				<div class="clear"></div>
			</div>
			<!--end of left content-->
			<div class="right_content">


				<div class="cart">
					<div class="title">
						<span class="title_icon"><img src="images/cart.gif" alt="" /></span>My
						cart
					</div>
					<div class="home_cart_content" th:text="${cartCount}">
						empty<span class="red">TOTAL: 100$</span>
					</div>
					<a th:href="@{/cart}" class="view_cart">view cart</a>
				</div>
				<div class="title">
					<span class="title_icon"><img src="images/bullet3.gif"
						alt="" /></span>About Our Shop
				</div>
				<div class="about">
					<p>
						<img src="images/about.gif" alt="" class="right" /> Philomena
						Hartigan inherited this flower shop from her father. It was
						established in 1965. Philomena Hartigan inherited this flower shop
						from her father. It was established in 1965 Philomena Hartigan
						inherited this flower shop from her father. It was established in
						1965 Philomena Hartigan inherited this flower shop from her
						father. It was established in 1965. Philomena Hartigan inherited
						this flower shop from her father. It was established in 1965
					</p>
				</div>


			</div>
			<!--end of right content-->
			<div class="clear"></div>
		</div>
		<!--end of center content-->
		<div class="footer" th:include="fragments :: footer"></div>
	</div>
</body>
</html>
