<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title th:text="#{index.title}"></title>
<meta http-equiv="Content-Type"
	content="text/html; charset=windows-1252" />
<link rel="stylesheet" type="text/css" href="..static/css/style.css"
	th:href="@{/css/style.css}" />
</head>
<body>
	<div id="wrap">
		<div class="header">
			<div class="logo">
				<a href="#"><img src="images/logo.gif" alt="" border="0" /></a>
			</div>
			<!-- include menu fragment -->
			<div id="menu" th:include="fragments :: menu"></div>
		</div>
		<div class="center_content">
			<div class="left_content">
				<div class="title">
					<span class="title_icon"><img src="images/bullet1.gif"
						alt="" th:text="#{login.login}"/></span>
				</div>
				<div class="feat_prod_box_details">

					<div class="contact_form">
						<div class="form_subtitle" th:text="#{login.fields}"></div>

						<form th:action="@{/login.html}" method="post">
							<div  th:if="${param.error}"><div class="red" th:text="#{login.details}"></div></div>
							<div class="form_row">
								<label for="username" th:text="#{login.user}"></label>: <input type="text"
									id="username" name="username" autofocus="autofocus" /> <br />
							</div>
							<div class="form_row">
								<label for="password" th:text="#{login.pass}"></label>: <input type="password"
									id="password" name="password" /> <br />
							</div>
							<div class="form_row">
								<input type="submit" value="Log in" />
							</div>
						</form>
					</div>
				</div>
				<div class="clear"></div>
			</div>
			<!--end of left content-->
			<div class="right_content">


				<div class="cart">
					<div class="title">
						<span class="title_icon"><img src="images/cart.gif" alt="" th:text="#{index.heading.cart}" /></span>
					</div>
					<div class="home_cart_content">
						<span>Items: </span> <span th:text="${cartCount}"></span><span>
							| </span><span class="red">Total: </span><span class="red"
							th:text="${cartTotal}"></span><span class="red">$</span>
					</div>
					<a th:href="@{/cart}" class="view_cart" th:text="#{index.heading.view}"></a>
				</div>
				<div class="title">
					<span class="title_icon"><img src="images/bullet3.gif"
						alt="" th:text="#{index.heading.about}"/></span>
				</div>
				<div class="about">
					<p>
						<img src="images/about.gif" alt="" class="right" th:text="#{index.textfiller}"/> 
					</p>
				</div>


			</div>
			<!--end of right content-->
			<div class="clear"></div>
		</div>
		<!--end of center content-->
		<div class="footer" th:include="fragments :: footer"></div>
	</div>
</body>
</html>
